@model IEnumerable<TipOfTheDay.Domain.Entities.Tip>

@{
    ViewBag.Title = "TipList";
}

<h2>Tip List</h2>

@foreach (var t in Model)
{
    <div class = "tip">
        <h3>@t.Title</h3>
        @t.Text <br />
        @if (t.Author != null)
        {
            @t.Author.Name <br />
        }
        @t.Date.ToString();
    </div>
    <hr />
}
