#################
## Visual Studio
#################

[Oo]bj
[Bb]in
.vs 
packages
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
[Tt]humbs.db 
TipOfTheDay.Domain/Concrete/TipOfTheDayDatabase.dacpac
*.mdf
*.ldf
