/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/25/2014 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2/25/2014 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[TheTip_TipId] [int] NULL,
	[Author_MemberId] [int] NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Languages]    Script Date: 2/25/2014 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Tip_TipId] [int] NULL,
 CONSTRAINT [PK_dbo.Languages] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Members]    Script Date: 2/25/2014 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Rating] [int] NULL,
 CONSTRAINT [PK_dbo.Members] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2/25/2014 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](max) NULL,
	[Tip_TipId] [int] NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Tips]    Script Date: 2/25/2014 5:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tips](
	[TipId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[SkillLevel] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Text] [nvarchar](max) NULL,
	[Example] [nvarchar](max) NULL,
	[Citation] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Rating] [int] NULL,
	[Author_MemberId] [int] NULL,
 CONSTRAINT [PK_dbo.Tips] PRIMARY KEY CLUSTERED 
(
	[TipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([LanguageId], [Name], [Tip_TipId]) VALUES (1, N'C#', 1)
SET IDENTITY_INSERT [dbo].[Languages] OFF
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberId], [Name], [Email], [Rating]) VALUES (1, N'Brian', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Members] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([TagId], [Word], [Tip_TipId]) VALUES (1, N'Objects', 1)
INSERT [dbo].[Tags] ([TagId], [Word], [Tip_TipId]) VALUES (2, N'Initialization', 1)
SET IDENTITY_INSERT [dbo].[Tags] OFF
SET IDENTITY_INSERT [dbo].[Tips] ON 

SET IDENTITY_INSERT [dbo].[Tips] OFF
/****** Object:  Index [IX_Author_MemberId]    Script Date: 2/25/2014 5:07:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Author_MemberId] ON [dbo].[Comments]
(
	[Author_MemberId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
/****** Object:  Index [IX_TheTip_TipId]    Script Date: 2/25/2014 5:07:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_TheTip_TipId] ON [dbo].[Comments]
(
	[TheTip_TipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
/****** Object:  Index [IX_Tip_TipId]    Script Date: 2/25/2014 5:07:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tip_TipId] ON [dbo].[Languages]
(
	[Tip_TipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
/****** Object:  Index [IX_Tip_TipId]    Script Date: 2/25/2014 5:07:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tip_TipId] ON [dbo].[Tags]
(
	[Tip_TipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
/****** Object:  Index [IX_Author_MemberId]    Script Date: 2/25/2014 5:07:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Author_MemberId] ON [dbo].[Tips]
(
	[Author_MemberId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Members_Author_MemberId] FOREIGN KEY([Author_MemberId])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Members_Author_MemberId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Tips_TheTip_TipId] FOREIGN KEY([TheTip_TipId])
REFERENCES [dbo].[Tips] ([TipId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Tips_TheTip_TipId]
GO
ALTER TABLE [dbo].[Languages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Languages_dbo.Tips_Tip_TipId] FOREIGN KEY([Tip_TipId])
REFERENCES [dbo].[Tips] ([TipId])
GO
ALTER TABLE [dbo].[Languages] CHECK CONSTRAINT [FK_dbo.Languages_dbo.Tips_Tip_TipId]
GO
ALTER TABLE [dbo].[Tags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tags_dbo.Tips_Tip_TipId] FOREIGN KEY([Tip_TipId])
REFERENCES [dbo].[Tips] ([TipId])
GO
ALTER TABLE [dbo].[Tags] CHECK CONSTRAINT [FK_dbo.Tags_dbo.Tips_Tip_TipId]
GO
ALTER TABLE [dbo].[Tips]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tips_dbo.Members_Author_MemberId] FOREIGN KEY([Author_MemberId])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[Tips] CHECK CONSTRAINT [FK_dbo.Tips_dbo.Members_Author_MemberId]
GO
