@model IEnumerable<TipOfTheDay.Domain.Entities.Member>

@{
    ViewBag.Title = "Search by Author";
}


<h2>Search for a Tip by Author</h2>
@using(Html.BeginForm())
{
    @Html.DropDownList("MemberId", new SelectList(Model, "MemberId", "Name"))

    <input type="submit" value="Search" />
}