@model IEnumerable<TipOfTheDay.Domain.Entities.Member>

@{
    ViewBag.Title = "Search by Author";
}


<h2>Search for a Tip by Author</h2>

@Html.DropDownList("MemberId", new SelectList(Model, "MemberId", "Name"))

@Html.ActionLink("Edit", "Edit", new { id = item.TipId }) |